# ==========================
# Java
# ==========================

# 컴파일 결과
*.class

# 로그 파일
*.log

# 압축 파일
*.jar
*.war
*.ear

# ==========================
# Eclipse
# ==========================

.metadata/

bin/

# ==========================
# IntelliJ IDEA
# ==========================

.idea/

*.iml

# ==========================
# VS Code
# ==========================

.vscode/

# ==========================
# OS
# ==========================

.DS_Store
Thumbs.db