# ===================================================
# Java 11 + Eclipse IDE 2025-09
# ===================================================

# ==========================
# Java, Eclipse 설치파일
# ==========================
eclipse/
jdk*/
jre*/

# -------------------------------
# Eclipse Workspace
# -------------------------------
workspace/.metadata/

# -------------------------------
# Java Build
# -------------------------------
**/bin/
**/out/
**/target/
**/build/
**/.settings/

# -------------------------------
# Eclipse Project Files
# -------------------------------


# -------------------------------
# Java
# -------------------------------
**/*.class
**/*.log

# -------------------------------
# VS Code
# -------------------------------
.vscode/

# -------------------------------
# IntelliJ IDEA
# -------------------------------
.idea/
*.iml

# -------------------------------
# Windows
# -------------------------------
Thumbs.db
Desktop.ini
/.metadata/
